.field {
  border-radius: 10px;

  height: 500px;
  width: 500px;
  margin-top: 50px;
  align-items: center;
  margin-left: 700px;
}

.container {
  margin-top: 100px;
  height: 400px;
  width: 400px;
}
